<?xml version="1.0"?>
<config>
  <appRoot>/tests</appRoot>
  <appRootDir>./tests</appRootDir>
  <webapp>
    <defaultURL>/login/home</defaultURL>
    <uiManagerClass>FSUIManager</uiManagerClass>
    <minify>
      <yui>false</yui>
    </minify>
  </webapp>

  <database>
    <host>33.33.33.10</host>
    <userName>vey</userName>
    <password>vey</password>
    <dbName>vmms</dbName>
    <debug>false</debug>
  </database>
  
  <tablePaging>
    <rowsPerPage>40</rowsPerPage>
    <maxLinksCount>20</maxLinksCount>
  </tablePaging>

  <properties>
    <translator>GettextZendTranslator</translator>
  </properties>
  
  <accessControl>
    <ZendAcl>
        <enable>true</enable>
    </ZendAcl>
  </accessControl>
</config>
